$background-color: #151318;
$text-color: #fef7ff;
$primary-color: #d2bcfd;
$inverse-primary-color: #68548f;
$on-primary-color: #504070;
$disabled-color: #626262;
$on-surface-color: #e7e0e8;

$radius: 12px;
$container-width: 1100px;
$max-width: 1200px;
$breakpoint-md: 768px;
